/* ///////////////////////////////////////////////////// *
/* //////////// */
/* //////////// */
/* //////////// */
/* //////////// */
/* MODAL STYLES */

.modalTwo {
    display: none;
    position: absolute;
    z-index: 1;
    left: -29px;
    width: 93vw;
    top: 0;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0);
}

.modal-contentTwo {
    background-color: #000000;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-left: 15px;
}


#editModalTwo {
    left: 150px;
}

.modal-image-category-containerTwo {
    position: absolute;
    top: 80px;
    right: 0;
    width: 350px; 
    height: auto;
    overflow: auto;
    margin: 20px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px; /* Adjust padding as needed */
    background-color: #121212;
    outline: 2px solid rgb(49, 49, 49);
}


/* Styles for name */
.modal-nameTwo {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid white;
    width: 86vw;
}

/* Styles for category container */
.modal-categoryTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles for category header */
.modal-category-headerTwo {
    font-weight: bold;
    margin-right: 10px; /* Adjust spacing as needed */
}

/* Styles for category description */
.modal-category-descTwo {
    margin-left: auto; /* Align to the right */
}


/* Styles for description header */
.modal-description-headerTwo {
    font-size: 30px;
    /* Other styles as needed */
}

/* Styles for description */
.modal-descriptionTwo {
    outline: 1px solid rgb(56, 56, 56);
    background-color: rgb(21, 21, 21);
    padding-bottom: 10px;
    margin-left: 0px;
    padding-top: 1px;
    padding: 5px;
    width: 50vw;
    height: auto;
    margin-top: 32px;
}

#refTwo {
    outline: 1px solid rgb(56, 56, 56);
    background-color: rgb(21, 21, 21);
    padding-bottom: 10px;
    margin-left: 0px;
    padding-top: 1px;
    padding: 10px;
    margin-top: 32px;
    width: 50vw;
    height: auto;
}



.modal-custom-headerTwo {
    font-size: 30px;
}

.modal-customTwo {
    outline: 1px solid rgb(56, 56, 56);
    background-color: rgb(21, 21, 21);
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 1px;
    padding: 5px;
    margin-top: 10px;
    width: 50vw;
    height: auto;
}


/* Styles for headers */
.modal-headerTwo {
    background-color: rgb(0, 207, 0);
    color: white;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 95%;
    margin-top: 10px;
}


.modal-header_0Two {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.modal-info_0Two {
    outline: 1px solid rgb(56, 56, 56);
    background-color: rgb(21, 21, 21);
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 1px;
    padding: 5px;
    margin-top: 10px;
    width: 50vw;
    height: auto;
}




.modal-historyTwo {
    color: black;
    display: none;
}

#editButtonTwo {
    background-color: rgb(20, 20, 20);
    width: 30px;
    height: 30px;
    right: 79px;
    bottom: 10px;
    position: absolute;
    outline: 1px solid rgb(37, 37, 37);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#editButtonTwo:hover {
    color: #00ff00
}



/* ///////////////////////////////////////////////////// */
/* //////////////////////////////// */
/* //////////////////////////////// */
/* //////////////////////////////// */
/* MODAL STYLES FOR MEDIUM SCREENS */

/* Media query for smaller screens */
@media (max-width: 1400px) {
    .modal-descriptionTwo {
        outline: 1px solid rgb(56, 56, 56);
        background-color: rgb(21, 21, 21);
        padding-bottom: 10px;
        margin-left: 0px;
        padding-top: 1px;
        padding: 5px;
        margin-top: 32px;
        width: 45vw;
        height: auto;
    }

    #refTwo {
        outline: 1px solid rgb(56, 56, 56);
        background-color: rgb(21, 21, 21);
        padding-bottom: 10px;
        margin-left: 0px;
        padding-top: 1px;
        padding: 10px;
        margin-top: 32px;
        width: 45vw;
        height: auto;
    }


    .modal-nameTwo {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid rgb(177, 177, 177);
        width: 83vw;
    }

}


/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */







/* ///////////////////////////////////////////////////// */
/* //////////////////////////////// */
/* //////////////////////////////// */
/* //////////////////////////////// */
/* MODAL STYLES FOR SMALLER SCREENS */

/* Media query for smaller screens */
@media (max-width: 1000px) {
    .modal-descriptionTwo {
        outline: 1px solid rgb(56, 56, 56);
        background-color: rgb(21, 21, 21);
        padding-bottom: 10px;
        margin-left: 0px;
        padding-top: 1px;
        padding: 10px;
        margin-top: 32px;
        width: 35vw;
        height: auto;
    }

    #refTwo {
        outline: 1px solid rgb(56, 56, 56);
        background-color: rgb(21, 21, 21);
        padding-bottom: 10px;
        margin-left: 0px;
        padding-top: 1px;
        padding: 10px;
        margin-top: 32px;
        width: 35vw;
        height: auto;
    }




    .modal-nameTwo {
        font-size: 40px;
        font-weight: bold;
        text-align: left;
        border-bottom: 1px solid rgb(122, 122, 122);
        width: 80vw;
    }

}


/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////// */

